{% extends "main/layout.html" %}

{% block title %}
   Про нас
{% endblock title %}

{% block content %}
   <div class="features">
      <h3>О нас</h3>
      <p>Мы - команда профессионалов, и мы стремимся предоставить вам качественные новости, информацию и ресурсы.
      </p>
      <h3>Наша миссия</h3>
      <p>Наши цели и убеждения обозначают нашу миссию:</p>
      
      <ul class="">
         <li class="about-li">Предоставлять актуальные и интересные новости и статьи по IT сфере.</li>
         <li class="about-li">Обеспечивать обратную связь с нашей аудиторией и активно взаимодействовать с нашими читателями.</li>
         <li class="about-li">Поддерживать сообщество и обмениваться информацией для взаимной пользы.</li>
      </ul>
      <h3>Что мы делаем</h3>
      <p>Мы постоянно работаем над обновлением нашего сайта и созданием информационных материалов, которые вас интересуют. Наши статьи и новости разработаны, чтобы быть информативными и полезными для вас.</p>

      <a href="{% url "news_home" %}"><button class="btn btn-danger">Читать новости</button></a>

   
   </div>
{% endblock content %}

